body, html {
  width: 100%;
  height: 100%;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--center {
  align-self: center;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
